<html>

{% render 'head_partial', page: page %}

<body>
  <div class='w-screen h-screen font-roboto sm:px-3 sm:py-1.5 md:px-6 md:py-3 bg-gray-800 box-border'>
    <div id='big-video-wrapper'>
  
    </div>
    
    <div id='video-grid' class='small-videos-wrapper fixed bottom-6 right-10 w-full flex justify-end h-56'>
      <video class='hidden mr-4 object-cover w-2/5 lg:w-1/4'></video>
    </div>

    <input type='hidden' name='test' id='test' value="{{jwtUser}}" />
  </div>

  {% render 'wait_for_call_answer_modal' %}  
</body>

<script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
<script src="/script.bundle.js"></script>

</html>