<div id="change-photo-modal" class="fixed top-0 left-0 w-screen h-screen flex justify-center bg-blue-500 bg-opacity-50 transform transition-transform duration-300 hidden">
    <div class="bg-white w-[50vw] h-[fit-content] max-h-[85vh] rounded-2xl overflow-auto mt-12 "> 
        <!-- Modal Header -->
        {% render 'modal_header' %}

        {% render 'modal_content_change_photo', user: user %}
        
        {% render 'modal_footer_change_photo' %}
        
  </div>
</div>

