<div class='w-full px-6 py-2 border-b border-super-light-gray-border flex justify-between'>
  <div class='chat-image-rounded w-1/12'>
    <a href="/messages/{{chat._id}}">
      {% if chat.users.size > 1 %}
        {% render 'group_chat_images_rounded', users: chat.users %}
      {% else %}
        {% render 'small_profile_image_rounded', user: chat.users[0] %}
      {% endif %}
    </a>
  </div>

  <div class='chat-info-messages w-11/12 ml-3'>
    <a href="/messages/{{chat._id}}">
      <h4 class='text-xl overflow-hidden whitespace-nowrap overflow-ellipsis'>{{ chat.chatName }}</h4>
      <p class='text-brand-dark-gray text-lg overflow-hidden whitespace-nowrap overflow-ellipsis'>{{ chat.latestMessage }}</p>
    </a>
  </div>
</div>