<div class="image-container w-14 h-14 relative">
  <img 
    class='w-10 h-10 rounded-full bg-white absolute bottom-0 left-0 z-20' 
    src="{{users[0].profilePic}}" 
    alt="{{users[0].username}}" 
  />
  <img 
    class='w-10 h-10 rounded-full bg-white absolute right-0 top-0 z-10' 
    src="{{users[1].profilePic}}" 
    alt="{{users[1].username}}" 
  />
</div>