<html>

{% render 'head_partial' %}

<body>
  <div class='px-10 mx-auto h-screen'>
    <div class='grid grid-rows-3 grid-flow-col gap-2 h-full'>
      <div class='row-span-full col-span-1 gap-y-8 pt-4 flex flex-col items-center'>
        {% comment %} {{>left_column}} {% endcomment %}
        {% render 'left_column' %}
      </div>

      <div class='col-span-10 row-span-full border-l-2 border-r-2 border-brand-light-gray'>
        {% comment %} {{>main_layout}} {% endcomment %}
        {% layout 'main_layout', user: user, posts: posts %}
      </div>

      <div class='bg-blue-300 col-span-3 row-span-full'>
        {% comment %} {{>right_column}} {% endcomment %}
        {% render 'right_column' %}
      </div>
    </div>
  </div>

</body>
<script src="/index.bundle.js"></script>

</html>