<html>

{% render 'head_partial' %}

<body>
  <div class='px-10 mx-auto'>
    <div class='grid grid-rows-3 grid-flow-col gap-2'>
      <div class='row-span-full col-span-2  pt-2 flex flex-col items-end pr-4'>
        <div class='flex flex-col items-center gap-y-5'>
          {% render 'left_column' %}
        </div>
      </div>

      <div class='col-span-10 row-span-full border-l-2 border-r-2 border-brand-light-gray'>
        {% render 'main_layout', user: user, posts: posts %}
      </div>

      <div class='bg-blue-300 col-span-3 row-span-full'>
        {% render 'right_column' %}
      </div>
    </div>
  </div>
  {% render 'comment_modal', user: user %}
</body>
<script src="/index.bundle.js"></script>
</html>