<div class="w-full">
  <h1 class="page-title mt-2 border-b border-super-light-gray-border pb-4"> {{title}}</h1>

  <div class='post-insert-wrapper'>
    {% render 'insert_post_form' user: user %}
  </div>

  <div class='relative w-full test'>
    <div class='insert-post-emojis-tooltip hidden absolute -top-5 left-0' id='insert-post-emojis-tooltip'></div>
  </div>
  {% render 'posts', posts: posts, user: user %}
</div>