<a href="/" rel="noopener noreferrer">
  <i
    class="fab fa-glide text-brand-purple text-5xl cursor-pointer hover:text-brand-purple hover:text-opacity-75 hover:-translate-y-0.5 transform"></i>
</a>
<a href="/" rel="noopener noreferrer">
  <i
    class="fas fa-igloo text-brand-purple text-4xl cursor-pointer hover:text-brand-purple hover:text-opacity-75 hover:-translate-y-0.5 transform"></i>
</a>
<i
  class="fab fa-searchengin text-brand-purple text-4xl cursor-pointer hover:text-brand-purple hover:text-opacity-75 hover:-translate-y-0.5 transform"></i>
<i
  class="fas fa-bell text-brand-purple text-4xl cursor-pointer hover:text-brand-purple hover:text-opacity-75 hover:-translate-y-0.5 transform"></i>
<i
  class="fas fa-envelope text-brand-purple text-4xl cursor-pointer hover:text-brand-purple hover:text-opacity-75 hover:-translate-y-0.5 transform"></i>
<i
  class="fas fa-user text-brand-purple text-4xl cursor-pointer hover:text-brand-purple hover:text-opacity-75 hover:-translate-y-0.5 transform"></i>

<a href="/logout">
  <i
    class="fas fa-sign-out-alt text-brand-purple text-4xl cursor-pointer hover:text-brand-purple hover:text-opacity-75 hover:-translate-y-0.5 transform"></i>
</a>