<a href="/" rel="noopener noreferrer">
{% comment %} -g {% endcomment %}
  {% render 'left_column_icon', icon: 'fab fa-glide', iconSize: 'text-4xl' %}

</a>
<a href="/" rel="noopener noreferrer">
  
  {% render 'left_column_icon', icon: 'fas fa-igloo', iconSize: 'text-3xl' %}
</a>
{% render 'left_column_icon', icon: 'fab fa-searchengin', iconSize: 'text-3xl' %}

{% render 'left_column_icon', icon: 'far fa-bell', iconSize: 'text-3xl' %}

{% render 'left_column_icon', icon: 'far fa-envelope', iconSize: 'text-3xl' %}

{% render 'left_column_icon', icon: 'far fa-user', iconSize: 'text-3xl' %}

<a href="/logout">
  {% render 'left_column_icon', icon: 'fas fa-sign-out-alt', iconSize: 'text-3xl' %}
</a>