<div class="w-full">
  <h1
    class="text-brand-purple font-bold tracking-wider px-5 text-4xl mt-4 font-lobster  border-b-2 border-brand-light-gray pb-4">
    {{title}}</h1>

  <div class='post-insert-wrapper'>
    {% render 'insert_post_form' user: user %}
  </div>

  {% render 'posts', posts: posts %}
</div>