<div class='inbox-modal-content px-6 mt-8 mb-2'>
  {% render 'login_form_input', type: 'text', inputName: 'chat-name', inputId: 'chat-name', required: true, placeholder: 'Enter new chat name here...' %}
</div>