<div class="w-full" id='notifications'>
  <div class='top-wrapper border-b border-super-light-gray-border pb-4 mt-2 px-3 flex items-center'>
    <div class='w-4/5'>
      <h1 class="text-brand-purple font-bold tracking-wider text-3xl font-lobster ">{{title}}</h1>
    </div>

    <div class='w-1/5 flex justify-end'>
      <button>
        <i class="fas fa-check-double text-brand-blue text-2xl"></i>
      </button>
    </div>
    
  </div>

  <div class='content-wrapper'>
  
    {% render 'notifications', notifications: notifications, user: user %}

  </div>
</div>