{% assign activeDownCased = active | downcase %}
{% assign textDownCased = text | downcase %}

{% if activeDownCased == textDownCased %}
   
  <a class='block w-1/3' href="/profile/shark/{{textDownCased}}">
    <div class='active tab-container hover:bg-comment-button-blue hover:bg-opacity-20 hover:cursor-pointer hover:text-brand-blue hover:border-brand-blue '>
      <div class='tab flex justify-center items-center h-16 pointer-events-none'>
        <span class='text-brand-blue font-bold pointer-events-none'>{{text}}</span>
      </div>
    </div>
  </a>
{% else %}
    <a class='block w-1/3' href="/profile/shark/{{textDownCased}}">
      <div class='tab-container hover:bg-comment-button-blue hover:bg-opacity-20 
      hover:cursor-pointer hover:text-brand-blue hover:border-brand-blue'>
        <div class='tab flex justify-center items-center h-16 pointer-events-none'>
          <span class='text-dark-gray-for-text font-bold  pointer-events-none'>{{text}}</span>
        </div>
      </div>
    </a>
  
{% endif %}