<div class="w-full">
  <div class='top-wrapper border-b border-super-light-gray-border pb-4 mt-2 px-3'>
    <h1
      class="text-brand-purple font-bold tracking-wider text-3xl font-lobster ">
      {{userProfile.username}}</h1>
    <p class='text-base text-gray-500 '>{{posts.size}} Posts</p>
  </div>

  

  {% render 'profile_page_pictures', userProfile: userProfile, user: user %}
  {% render 'profile_page_user_info', userProfile: userProfile %}

  <div class='tabs-wrapper flex justify-between h-16 border-b border-t border-super-light-gray-border'>
    {% render 'profile_page_tab', active: active, text: 'Posts' %}
    {% render 'profile_page_tab', active: active, text: 'Replies' %}
    {% render 'profile_page_tab', active: active, text: 'Likes' %}
  </div>

  <div class='content-wrapper' id='profile-posts'>
    {% render 'posts', posts: posts, user: user %}
  </div>
</div>