<html>

{% render 'head_partial' %}

<body>
  <div class='flex flex-col justify-center items-center mt-2 md:mt-2 sm:mt-2 xs:mt-1 xs:px-0 w-full'>

    {% render 'login_register_header.liquid', text: 'Already have account?', linkText: 'Click here to sign in.', href: '/login', title: title %}

    <div
      class='w-1/3 h-3/5 flex-col bg-super-light-gray-border bg-opacity-30 mb-20 shadow-md border-2 border-brand-purple border-solid lg:w-2/5 md:w-4/6 sm:w-2/3 xs:w-11/12 xs:px-4'>
      <div class="mt-8 px-10 xl:px-16 xs:px-6 sm:px-6 md:px-16 lg:px-20">

        <p class='text-base w-full text-center font-roboto text-red-500 mb-1 ml-1'>{{msg}}</p>

        <form method="post" action="/registration" id='registration-form'>
          <div class='mt-6'>
            {% render 'register_form_input', type: 'text', inputName: 'firstName', inputId: 'firstName', labelText: 'First name: ', required: true, placeholder: 'John', errorLabelText: 'You must specify first name and it must begin with an uppercase', hasErrorLabel: true %}
          </div>
          <div class='mt-6'>
            {% render 'register_form_input', type: 'text', inputName: 'lastName', inputId: 'lastName', labelText: 'Last Name: ', required: true, placeholder: 'Doe', errorLabelText: 'Last name needs to begin with capital letter and have minimum 2 chars', hasErrorLabel: true %}
          </div>
          
          <div class='mt-6'>
            {% render 'register_form_input', type: 'text', inputName: 'username', inputId: 'username', labelText: 'Username: ', required: true, placeholder: 'Your username', errorLabelText: 'Username must be 3-20 characters long, no _ or . at the beginning, no __ or _. or ._ or .. inside and no _ or . at the end', hasErrorLabel: true %}
          </div>

          <div class='mt-6'>
            {% render 'register_form_input', type: 'text', inputName: 'email', inputId: 'email', labelText: 'Email: ', required: true, placeholder: 'john_doe@email.com', errorLabelText: 'Email must be a valid email', hasErrorLabel: true %}
          </div>
          
          <div class='mt-6'>
            <label for='description' class="block text-base font-roboto ml-1">Description</label>
            <textarea class='form-control mt-0 block w-full px-1 border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-brand-purple bg-transparent align-bottom' placeholder="About you..." name='description' id='description'></textarea>
          </div>

          <div class='mt-6'>
            {% render 'register_form_input', type: 'password', inputName: 'password', inputId: 'password', labelText: 'Password: ', required: true, errorLabelText: 'Password has minimum eight characters, at least one letter and one number:', hasErrorLabel: true %}
          </div>
         
          <div class='mt-6'>
            {% render 'register_form_input', type: 'password', inputName: 'confirmPassword', inputId: 'confirmPassword', labelText: 'Confirm Password: ', required: true, errorLabelText: 'Passwords must match.', hasErrorLabel: true %}
          </div>

          {% render 'login_register_submit_button', text: 'Register'%}
        </form>
      </div>

    </div>
  </div>

  <script src="/script.bundle.js"></script>
</body>

</html>