<div class='w-full px-6 flex py-4 border-b border-super-light-gray-border'>
  <div class='w-4/5 flex'>
    {% render 'user_follow_details', follow: follow%}
  </div>
  
  <div class='w-1/5 flex flex-col justify-start'>
    
    {% if follow._id == user._id %}

      <button data-profile-id="{{user._id}}" class='edit-profile-button cursor-pointer text-base font-semibold rounded-xl outline-none px-3 py-2 focus:outline-white focus:shadow-none focus:ring-0'>
        <span class='comment-button__label pointer-events-none'>Edit profile</span>
      </button>

    {% else %}
      {% comment %} <div class='flex space-x-5 following-buttons-wrapper'> {% endcomment %}

        <button data-profile-id="{{follow._id}}" class='following-unfollowing follow-button cursor-pointer text-base rounded-xl outline-none px-3 py-2 font-semibold ring-0 focus:outline-white focus:shadow-none focus:ring-0 '>
          <span class='follow-button__label pointer-events-none'>Follow</span>
          <i class="follow-button__spinner hidden fas fa-spinner fa-pulse"></i>
        </button>
      {% comment %} </div> {% endcomment %}

    {% endif %}
  </div>
</div>